.shelves-container {
  position: relative;
  overflow: hidden;
  /* height: 1000px;
  width: 1500px; */
}

.shelves-container img {
  /* visibility: hidden; */
  max-height: 100%;
  max-width: 100%;
}
